<!DOCTYPE html>
<html>
<head>
  <title>Rails keyserver</title>
  <%= stylesheet_link_tag    "rails/keyserver/application", media: "all" %>
  <%= javascript_include_tag "rails/keyserver/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
